* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.bot-bar .fas {
    font-size: 40px;
}

.bot-bar .fa-chevron-up {
    margin: 0 30px;
    font-size: 15px;
}

.mb {
    margin-bottom: 10px;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    position: relative;
}

img {
    flex-grow: 1;
    height: 198px;
    width: auto;
}

/* ***************** HEADER **************** */

header {
    position: fixed;
    z-index: 1;
    width: 100vw;
}

.top-bar {
    height: 80px;
    background-color: black;
    text-align: right;
    vertical-align: middle;
    padding-right: 15px;
    padding-top: 20px;
}

.top-bar span {
    padding: 8px 5px;
    background-color: grey;
    border-radius: 7px;
    margin-left: 5px;
}

/* ************** MAIN ************** */

main {
    overflow-y: scroll;
    height: calc(100vh - 110px);
    padding-top: 100px;
}

.user {
    height: 207px;
    position: relative;
    justify-content: space-around;
}

.user span {
    position: absolute;
    top: 81%;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.397);
    font-size: 18px;
}

/* **************** FOOTER **************** */

footer {
    font-size: 18px;
    text-align: center;
}

.bot-bar {
    height: 110px;
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
}

.layout {
    height: 100%;
    align-items: center;
}

.space {
    padding: 10px 15px;
}

.tendina {
    line-height: 71px;
    width: 40px;
    vertical-align: middle;
}

/* Utilities */

.fa-share-square {
    color: limegreen;
}

/* Disconnect */

.disconnect .end {
    color: red;
    height: 100%;
    padding: 46px 35px;
    background-color: rgb(74, 74, 74);
}